@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #020202;
  color: #b9b9b9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 900px;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.img img {
  height: 300px;
  width: 460px;
}
.box {
  display: flex;
  gap: 10px;
}
.info h2 {
  margin-bottom: 12px;
  font-weight: 700;
}
.info h3 {
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-size: 18px;
}
.info p {
  color: #3d3d42;
  margin-bottom: 18px;
}
.countdown-box {
  display: flex;
  gap: 18px;
}
.day,
.hours,
.mins,
.secs {
  text-align: center;
  background-color: #b9b9b9;
  color: #020202;
  border-radius: 4px;
  padding: 8px;
  box-shadow: -8px 0px 6px 0px rgba(61, 61, 66, 0.41);
}
.number {
  font-weight: 700;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 150px;
  }
  .img img {
    margin-top: 53px;
  }
}
